<div class="row mt-3">
    {{#each tasks}}
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    {{title}}
                </div>
                <div class="card-body">
                    {{description}}
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center">
                    <a href="/tasks/delete/{{_id}}" class="btn btn-danger" >Borrar</a>
                    <a href="/tasks/edit/{{_id}}" class="btn btn-info" >Editar</a>
                </div>
            </div>
        </div>
    {{/each}}
</div>