<form action="/tasks/create" method="post" class="text-center" >
    <input type="text" name="title" placeholder="Escribe un titulo" class="form-control" autofocus>
    <div class="form-group mt-4 mb-4">
        <input type="text" name="description" placeholder="Descripción de la tarea..." class="form-control">
    </div>
    <button type="submit" class="btn btn-success btn-block" >
        Guardar
    </button>
</form>
